<!DOCTYPE html>
<html>

<head>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
    <link rel="stylesheet" href="src/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/66f22fbe6b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <title>Asma Surti</title>
    <link rel="shortcut icon" type="image/png" href="src/images/favicon.png">
</head>

<body>

    <section class="hero">
        <nav>
            <img class="logo" src="src/images/logo-darker.png" alt="Asma Surti's Logo">
            <ul id="nav-list">
                <li><a class="nav-hover" href="#about-me">About Me</a></li>
                <li><a class="nav-hover" href="#projects">Projects</a></li>
                <li><a class="nav-hover" href="#experience">Experience</a></li>
                <li><a class="nav-hover" href="#contact">Contact</a></li>
            </ul>
            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars fa-2x"></i>
            </button>
        </nav>
        <div class="hero-area">
            <div class="hero-text">
                <h1>Asma Surti</h1>
                <p class="hero-text-sub">Computer Engineering Student</p>
                <a
                        href="https://drive.google.com/file/d/1dfB7Y6cpuck2MoZWrnV2Axf1qeyemJQ1/view?usp=sharing"
                        target="_blank"><div class="button">Resume</div></a>
            </div>
            <div class="socials">
                <div class="social">
                    <a href="https://www.linkedin.com/in/asma-surti/" target="_blank" class="social">
                        <i class="fab fa-linkedin-in fa-lg"></i>
                    </a>
                </div>
                <div class="social">
                    <a href="https://github.com/asmasurti" target="_blank" class="social">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                </div>
                <div class="social">
                    <a href="mailto:asma.surti@mail.utoronto.ca" class="social">
                        <i class="fas fa-envelope fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sub-section" id="about-me">
        <div class="information">
            <h2>About Me</h2>
            <h3>👋 Hello, I'm Asma Surti, an aspiring Software Developer.</h3>
            <p class="about-me-text"> I'm currently a third-year Computer Engineering student at the Univerity of
                Toronto with an interest in Software Development, Hardware, AI/ML and Project Management. I intend to
                minor in Robotics and Mechatronics and focus on Global Engineering.<br /><br />I am passionate about
                developing innovative software and working towards minimizing barriers in the STEM community.</p>
            <h3>🔧 Skills + Tool Kit</h3>
            <div class="skills">
                <div class="skills-row">
                    <div class="skill">
                        <img class="skill-icon" src="https://img.icons8.com/color/144/000000/c-plus-plus-logo.png"
                            alt="C/C++ Icon" height="32px" width="32px" />
                        <p class="skill-text">C/C++</p>
                    </div>
                    <div class="skill">
                        <img class="skill-icon" src="src/images/java.png" alt="Java Icon" height="32px" width="32px">
                        <p class="skill-text">Java</p>
                    </div>
                    <div class="skill">
                        <img class="skill-icon" src="https://img.icons8.com/fluency/240/000000/matlab.png"
                            alt="Matlab Icon" height="32px" width="32px" />
                        <p class="skill-text">Matlab</p>
                    </div>
                    <div class="skill">
                        <img class="skill-icon" src="src/images/chip.png" alt="Verilog Icon" height="32px" width="32px">
                        <p class="skill-text">Verilog</p>
                    </div>

                </div>
                <div class="skills-row">
                    <div class="skill-wide">
                        <img class="skill-icon" src="src/images/settings.png" alt="Java Icon" height="32px"
                            width="32px">
                        <p class="skill-text">Assembly Language</p>
                    </div>
                    <div class="skill-medium">
                        <img class="skill-icon" src="https://img.icons8.com/color/48/000000/visual-studio-2019.png"
                            alt="Visual Studio Icon" height="32px" width="32px">
                        <p class="skill-text">Visual Studio</p>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skill">
                        <img class="skill-icon" src="https://img.icons8.com/color/48/000000/git.png" alt="Git Icon"
                            height="32px" width="32px">
                        <p class="skill-text">Git</p>
                    </div>
                    <div class="skill">
                        <img class="skill-icon" src="https://img.icons8.com/ios-glyphs/30/000000/github.png"
                            alt="GitHub Icon" height="32px" width="32px">
                        <p class="skill-text">GitHub</p>
                    </div>
                    <div class="skill">
                        <img class="skill-icon" src="src/images/ic.png" alt="LTSpice Icon" height="32px" width="32px">
                        <p class="skill-text">LTSpice</p>
                    </div>
                    <div class="skill">
                        <img class="skill-icon" src="https://img.icons8.com/color/48/000000/figma--v1.png"
                            alt="Figma Icon" height="32px" width="32px">
                        <p class="skill-text">Figma</p>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skill-medium">
                        <img class="skill-icon" src="https://img.icons8.com/color/48/000000/microsoft-office-2019.png"
                            alt="Microsoft Offcie Icon" height="32px" width="32px">
                        <p class="skill-text">Microsoft Office</p>
                    </div>
                    <div class="skill-medium">
                        <img class="skill-icon" src="https://img.icons8.com/color/48/000000/android-studio--v2.png"
                            alt="Android Studio Icon" height="32px" width="32px">
                        <p class="skill-text">Android Studio</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sub-section-alternative" id="projects">
        <h2 class="sub-section">Projects</h2>
        <div class="project-container-top">
            <div class="project-card">
                <img class="project-image" src="src/images/project1.PNG" alt="Project One Image" />
                <h4>Map Geographic Informaton System</h4>
                <p class="subtext">A GIS software that displays maps and relevant information (street names, point of
                    interests, subways etc.) for various major cities around the world.</p>
                <div class="languages-used">
                    <div class="language">C++</div>
                    <div class="language">GTK</div>
                    <div class="language">Glade</div>
                </div>
                <div class="project-link">
                    <a href="https://github.com/asmasurti/Map-GIS" target="_blank">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </div>
            </div>
            <div class="project-card">
                <img class="project-image" src="src/images/project2.PNG" alt="Project Two Image" />
                <h4>Cannonhead Clash</h4>
                <p class="subtext">A multiplayer game coded in C that runs on CPUlator. The game uses double buffering
                    to display smooth visuals and animations on a VGA frame buffer.</p>
                <div class="languages-used">
                    <div class="language">C</div>
                    <div class="language-wide">CPUlator</div>
                </div>
                <div class="project-link">
                    <a href="https://github.com/asmasurti/Cannonhead-Clash" target="_blank"">
                            <i class=" fab fa-github fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="project-container">
            <div class="project-card">
                <img class="project-image" src="src/images/project3.JPG" alt="Project Three Image" />
                <h4>Book Recommedation System</h4>
                <p class="subtext">A book recommendation system where users can rate books and have books recommended to
                    them based on ones they have already read and their previous ratings.</p>
                <div class="languages-used">
                    <div class="language">Java</div>
                    <div class="language-wide">Java Applet</div>
                </div>
                <div class="project-link">
                    <a href="https://github.com/asmasurti/Book-Recommendation-System" target="_blank">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </div>
            </div>
            <div class="project-card">
                <img class="project-image" src="src/images/project4.PNG" alt="Project Four Image" />
                <h4>Eleven's Game</h4>
                <p class="subtext">A recreation of the classic Elevens game where nine cards are initially dealt and the
                    player can elimatie pairs of cards that add up to eleven or three face cards.</p>
                <div class="languages-used">
                    <div class="language">Java</div>
                    <div class="language-wide">Java Applet</div>
                </div>
                <div class="project-link">
                    <a href="https://github.com/asmasurti/Elevens-Game" target="_blank">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sub-section-alternative" id="experience">
        <h2 class="sub-section">Experience</h2>
        <div class="container">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>University of Toronto<br>Student Ambassador - Innovation Hub</h4>
                            </div>
                            <div class="experience-tag">
                                Part-Time <br />
                            </div>
                        </div>
                        <div class="item-title"> ● Providing hands-on technical support and orientation to instructors <br />
                            ● Solving audiovisual issues and other technological challenges to ensure efficient delivery of course material</div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>Rocscience Inc.<br> Software Developer Intern</h4>
                            </div>
                            <div class="experience-tag">
                                Internship <br />
                                <a href="https://www.rocscience.com/about/news-events/technical-projects-of-rocscience-co-ops-summer-2021"
                                    target="_blank">
                                    <div class="term">
                                        View More
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item-title"> ● Developed new features, and updated existing ones using C++ and MFC
                            for Version 5.012 of UnWedge, a geotechnical engineering program <br />
                            ● Improved and added elements to the UI in RS2 for better data visualization</div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>TERRA<br />Software Developer</h4>
                            </div>
                            <div class="experience-tag">
                                Extracurricular
                                <a href="https://www.youtube.com/watch?v=zCVMSEGESB8" target="_blank">
                                    <div class="term">
                                        View More
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item-title">● Currently working towards developing an app oordinate to inform people
                            about their carbon footprint and empower them to actively reduce their imapct
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>Women in Science and Engineering - University of Toronto Chapter <br />
                                    Industry/High School Mentorship Director</h4>
                            </div>
                            <div class="experience-tag">
                                Extracurricular
                                <a href="https://wiseuoft.org/industry-mentorship.html" target="_blank">
                                    <div class="term">
                                        View More
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item-title">● Coordinate the Industry Mentorship Program, including planning
                            workshops, and other professional development events <br /> ● Coordinated the High School
                            Mentorship Program connecting 60+ high school students from the GTA with 30+ mentors at
                            University of Toronto
                        </div>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>Engineers Without Borders Canada<br>Youth Engagement - VP Content</h4>
                            </div>
                            <div class="experience-tag">
                                Extracurricular
                                <a href="https://ewbuoftyouth.weebly.com/innomasters.html" target="_blank">
                                    <div class="term">
                                        View More
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item-title">● Responsible for generating teachable workshop material and other
                            resources for the Innomasters Program which aims to help students learn about and apply the
                            Engineering Design Process through a year-long project
                            <br /> ● Assist and provide guidance to student teams with their respective projects during
                            and outside of workshops
                        </div>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>University of Toronto Hyperloop Team <br>Six Sigma Team Member
                                </h4>
                            </div>
                            <div class="experience-tag">
                                Extracurricular
                            </div>
                        </div>
                        <div class="item-title">● Implemented Six Sigma principles to optimize various sub-team
                            operations <br /> ● Generated Gantt charts, activity network diagrams and SOPs to optimize
                            various sub-team operations </div>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="position">
                            <div class="timestamp">
                                <h4>Robotics STEM Outreach Program<br>Six Sigma Team Member
                                </h4>
                            </div>
                            <div class="experience-tag">
                                Volunteering
                            </div>
                        </div>
                        <div class="item-title">● Organized workshops teaching coding and tactile skills to girls from
                            local elementary schools by
                            building mBots and programming them using Scratch <br />
                            ● Assisted new members with learning how to run various workshop elements <br />
                            ● Delivered presentation on robotics experience to teachers across TDSB and featured in Kim
                            Cooper’s book titled Girls in Science: Voices for Change (2018, p.14) </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </section>

    <footer id="contact">
        <h2 class="contact-me-heading">Contact Me</h2>
        <div class="socials-contact-me">
            <div class="social">
                <a href="https://www.linkedin.com/in/asma-surti/" target="_blank" class="social">
                    <i class="fab fa-linkedin-in fa-3x"></i>
                </a>
            </div>
            <div class="social">
                <a href="mailto:asma.surti@mail.utoronto.ca" class="social">
                    <i class="fas fa-envelope fa-3x"></i>
                </a>
            </div>
        </div>
        <p class="copyright">© 2021 Asma Surti 😊</p>
    </footer>
    <script src="src/app.js"></script>
</body>
</html>